@import url('https://fonts.googleapis.com/css2?family=Silkscreen:wght@400;700&display=swap');

* {
    font-family: 'Silkscreen', cursive;
    list-style: none;
}

i {
    color: black;
    font-size: 20px;
}

ul {
    display: flex;
    justify-content: space-evenly;
}

body {
    min-height: 100vh;
}

body::-webkit-scrollbar {
    display: none;
}

.container {
    align-items: center;
    text-align: center;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
}


hr {
    width: 70%;
    border: 1px solid black;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.myphotos {
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.about {
    margin-bottom: 100px;
    text-align: center;
}

.all-items {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    grid-gap: 1rem;
}

.container h1 {
    animation: rainbow 2.5s linear;
    animation-iteration-count: infinite;
}


.header h2 {
    animation: rainbow 2.5s linear;
    animation-iteration-count: infinite;
}

.about h3,
.working h3 {
    animation: rainbow 2.5s linear;
    animation-iteration-count: infinite;
}

.working-item img {
    width: 50%;
}

.header {
    margin: 0px 110px;
}

@keyframes rainbow {

    100%,
    0% {
        color: rgb(255, 0, 0);
    }

    8% {
        color: rgb(255, 127, 0);
    }

    16% {
        color: rgb(255, 255, 0);
    }

    25% {
        color: rgb(127, 255, 0);
    }

    33% {
        color: rgb(0, 255, 0);
    }

    41% {
        color: rgb(0, 255, 127);
    }

    50% {
        color: rgb(0, 255, 255);
    }

    58% {
        color: rgb(0, 127, 255);
    }

    66% {
        color: rgb(0, 0, 255);
    }

    75% {
        color: rgb(127, 0, 255);
    }

    83% {
        color: rgb(255, 0, 255);
    }

    91% {
        color: rgb(255, 0, 127);
    }
}